.short-image {
  max-height:300px;
}

h1 { color: green; }

.Carousel.Item img {
  width: auto;
  height: 225px;
  max-height: 225px;
}

.login {
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
	margin-top: 20px;
	padding-left: 10px;
	padding-bottom: 5px;
}